.mainCont nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white !important;
    background-color: #003399;
    z-index: 100;
}
.nav-item:hover{
    cursor: pointer;
} 


 @media (min-width: 992px) {
     .mainCont .nav-ul{
         margin-left: 850px;
         letter-spacing: .7px;
     }
     .nav-right{
        margin-left: 100px;
    }
     .mainCont .user-icon{
         margin-right: 10px;
         margin-left: 40px;
         color: #003399;
         background-color: white;
         border-radius: 50%;
         padding: 3px;
     }
     .mainCont .user-icon:hover{
         cursor: pointer;
     }
     .mainCont .nav-item {
     position: relative;
     display: inline-block;
     text-decoration: none;
     font-size: 16px; 
     font-weight: bold;
     }
     .mainCont .nav-item::after{
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     /* border-radius: 50%; */
     height: 3px; 
     background: linear-gradient(90deg, #ff6b6b, #ffa7c4); 
     transform: scaleX(0);
     transform-origin: 0 100%;
     transition: transform 0.3s ease; 
   }
   .mainCont .nav-item:hover::after {
     transform: scaleX(1); 
   }
   
 }
 