
  .c-bd{
    background:url("off2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
  }
  /* .a{
    margin-top:20px;
    position:absolute;
    top:0px;
    left:50%;
    transform:translateX(-50%);
    font-size:40px;
    color:red;
  } */

